<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.DidaktikappDurango">
        <activity
            android:name=".actividades.ResultadosBasilicaActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".actividades.MapaActivity"
            android:exported="false"
            android:label="@string/title_activity_mapa" />
        <activity
            android:name=".actividades.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RankingActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.DespedidaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PuzleActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EscudoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.ArtopilActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PatxikotxuActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.BasilicaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.SirenaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.FeriaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.MikeldiActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.ResultadosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>